[submodule "fpga/fpga-shells"]
	path = fpga/fpga-shells
	url = https://github.com/chipsalliance/rocket-chip-fpga-shells.git
[submodule "generators/boom"]
	path = generators/boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "generators/constellation"]
	path = generators/constellation
	url = https://github.com/ucb-bar/constellation.git
[submodule "generators/diplomacy"]
	path = generators/diplomacy
	url = https://github.com/chipsalliance/diplomacy.git
[submodule "generators/fft-generator"]
	path = generators/fft-generator
	url = https://github.com/ucb-bar/FFTGenerator.git
[submodule "generators/hardfloat"]
	path = generators/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "generators/rocket-chip-blocks"]
	path = generators/rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git
[submodule "generators/rocket-chip-inclusive-cache"]
	path = generators/rocket-chip-inclusive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "generators/shuttle"]
    path = generators/shuttle
    url = https://github.com/ucb-bar/shuttle.git
[submodule "generators/testchipip"]
	path = generators/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "tools/DRAMSim2"]
	path = tools/DRAMSim2
	url = https://github.com/firesim/DRAMSim2.git
[submodule "tools/axe"]
	path = tools/axe
	url = https://github.com/CTSRD-CHERI/axe.git
[submodule "tools/cde"]
	path = tools/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "tools/rocket-dsp-utils"]
	path = tools/rocket-dsp-utils
	url = https://github.com/ucb-bar/rocket-dsp-utils.git
[submodule "tools/torture"]
	path = tools/torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "tools/dsptools"]
	path = tools/dsptools
	url = https://github.com/ucb-bar/dsptools.git
[submodule "tools/fixedpoint"]
	path = tools/fixedpoint
	url = https://github.com/ucb-bar/fixedpoint.git
[submodule "generators/saturn"]
	path = generators/saturn
	url = https://github.com/ucb-bar/saturn-vectors.git
